<ion-header>
  <ion-toolbar>
    <ion-title>Anleitung</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        schliessen
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="container">

    
    <ion-text>
      <p>Du möchtest miitmi auch auf deiner Webseite verwenden?</p>
      
      <h2>
        So geht's:
      </h2>
      
      <p>1. Folgendes Script in <ion-text color="primary">&lt;head&gt;</ion-text> einfügen:</p>
      <pre><code>
        <ion-text color="primary">
          &lt;script src='https://unpkg.com/miitmi-web-component@1.2.1/dist/miitmi-web-component.js'&gt;&lt;/&gt;
        </ion-text>
  </code></pre>
  
  
  <p>2. Web Components in <ion-text color="primary">&lt;body&gt;</ion-text> einfügen:</p>
    <pre><code>
      <ion-text color="primary">
        &lt;miitmi-web-component invite="EINLADEN" video="VIDEOCHAT STARTEN"&gt;&lt;/&gt;
      </ion-text>
    </code></pre>
    
  </ion-text>
</div>
  
  
  <!--    </div>
    Footer without a border -->
    <ion-footer class="ion-no-border">
      <ion-toolbar>  
        <!--<ion-title>Footer - No Border</ion-title>-->
        <ion-text color="primary">
          <p>   <a href="https://stenciljs.com/">
            <ion-icon name="logo-stencil"></ion-icon> stenciljs.com 
          </a> | <a href="https://www.npmjs.com/package/miitmi-web-component">
            <ion-icon name="logo-npm"></ion-icon> npmjs.com 
          </a> | <a href="https://github.com/sansan88/miitmi">
          <ion-icon name="logo-github"></ion-icon> github.com
        </a> 
      </p>
      </ion-text>
    </ion-toolbar>
  </ion-footer>

</ion-content>