<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerDirection="root" href="/de">
          de
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button size="small" (click)="openAnleitung()" color="secondary">
          <ion-icon name="code-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
  
      <div class="container">
  
      <ion-img class="hilfjetzt" src="assets/hilf-jetzt/hilf-jetzt-logo--ohne-text.png"></ion-img>
      <ion-text>
        <h1>
          <strong>
            Restez à la maison,<br>
            mais restez en contact avec vos amis.
          </strong>
        </h1>
        <p>Invitez vos amis à discuter avec vous</p>
        <miitmi-web-component invite="Inviter" video="Démarrer la rencontre vidéo"></miitmi-web-component>
  
        <p>
          Miitmi est un projet de la plateforme d'entraide volontaire <a href="https://www.aide-maintenant.ch">aide-maintenant.ch</a>. Pour les rencontres vidéo, nous utilisons le logiciel open-source <a href="https://jitsi.org/">jitsi.org</a>.
        </p>
  
      </ion-text>
  
    </div>
    <!--    </div>
  Footer without a border -->
  <ion-footer class="ion-no-border">
    <ion-toolbar>  
      <!--<ion-title>Footer - No Border</ion-title>-->
        <ion-text color="primary">
        <p>   <a href="https://stenciljs.com/">
            <ion-icon name="logo-stencil"></ion-icon> stenciljs.com 
        </a> | <a href="https://www.npmjs.com/package/miitmi-web-component">
          <ion-icon name="logo-npm"></ion-icon> npmjs.com 
        </a> | <a href="https://github.com/sansan88/miitmi">
          <ion-icon name="logo-github"></ion-icon> github.com
        </a> 
      </p>
      </ion-text>
    </ion-toolbar>
  </ion-footer>
  
  </ion-content>
  