ion-toolbar {
    //--background-color: #EE2A24;
    background-color: #EE2A24;
}

.hilfjetzt {
    margin-top: 50px;
    max-width: 100% !important;
    height: 200px !important;
}

ion-text {
    text-align: center !important;
}

ion-text a {
    text-decoration: none !important;
}

ion-footer a {
    text-decoration: none !important;
}

ion-footer p {
    font-size: 12px;
}

ion-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}

.container{
    margin-bottom: 40px;
}