
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerDirection="root" href="/fr">
          fr
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">

<!--<ion-header [translucent]="true" color="secondary">
  <ion-toolbar color="secondary">
    <ion-title>
      miitmi
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="secondary">
      <ion-title size="large">miitmi</ion-title>
      <ion-avatar slot="end">
        <img src="assets/icons/icon-384x384.png">
      </ion-avatar>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">-->

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button size="small" (click)="openAnleitung()" color="secondary">
        <ion-icon name="code-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>



    <div class="container">

    <ion-img class="hilfjetzt" src="assets/hilf-jetzt/hilf-jetzt-logo--ohne-text.png"></ion-img>
    <ion-text>
      <h1>
        <strong>

          Bleibe zu Hause,<br>
          aber in Kontakt mit Freund*innen.
        </strong>
      </h1>
      <p>Privaten Video-Chat organisieren</p>
      <miitmi-web-component invite="Einladen" video="Video-Chat starten"></miitmi-web-component>

      <p>
      Miitmi ist ein Projekt der Freiwilligen-Plattform <a href="https://www.hilf-jetzt.ch">hilf-jetzt.ch</a>. Für Video-Chats nutzen wir das Open-Source-Projekt <a href="https://jitsi.org/">jitsi.org</a>.
      </p>

    </ion-text>

  </div>
  <!--    </div>
Footer without a border -->
<ion-footer class="ion-no-border">
  <ion-toolbar>  
    <!--<ion-title>Footer - No Border</ion-title>-->
      <ion-text color="primary">
      <p>   <a href="https://stenciljs.com/">
          <ion-icon name="logo-stencil"></ion-icon> stenciljs.com 
      </a> | <a href="https://www.npmjs.com/package/miitmi-web-component">
        <ion-icon name="logo-npm"></ion-icon> npmjs.com 
      </a> | <a href="https://github.com/sansan88/miitmi">
        <ion-icon name="logo-github"></ion-icon> github.com
      </a> 
    </p>
    </ion-text>
  </ion-toolbar>
</ion-footer>

</ion-content>
