ion-toolbar {
    //--background-color: #EE2A24;
    background-color: #EE2A24;
}


ion-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}

ion-footer a {
    text-decoration: none !important;
}


.hilfjetzt {
    max-width: 100% !important;
    height: 100px !important;
}