<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Miitmi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense" class="ion-no-padding">
    <ion-toolbar class="ion-no-padding">
      <ion-title size="large" class="ion-no-padding">Miitmi</ion-title>
    </ion-toolbar>
  </ion-header>
    <br>
    <ion-text>
      Gemeinsam gegen Corona! Bleib zu Hause, aber im Kontakt mit deinem Freundeskreis. Verabrede dich jetzt zum Video-Chat.
    </ion-text>
    <br><br>
    <br>
    <strong>Lade deine Freunde ein!</strong><br>
  
    <miitmi-web-component invite="EINLADEN!" video="VIDEOCHAT STARTEN"></miitmi-web-component>
    <br>
    <ion-text>
      Miitmi ist ein Projekt der Freiwilligen-Plattform <a href="https://www.hilf-jetzt.ch">hilf-jetzt.ch</a>. Wir vermitteln unkomplizierte Soforthilfe für Menschen, die zur Risikogruppen der Corona-Krise zählen.
    </ion-text>

    <ion-text color="primary">
      <br>
        <a href="https://stenciljs.com/">
          stenciljs.com <ion-icon name="logo-stencil"></ion-icon>
      </a>  |  

       <a href="https://www.npmjs.com/package/miitmi-web-component">
        npmjs.com <ion-icon name="logo-npm"></ion-icon>
      </a>  |  

      <a href="https://github.com/sansan88/miitmi">
       Github.com <ion-icon name="logo-github"></ion-icon>
      </a>
    </ion-text>
   
</ion-content>
